@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-principal: #DB2763;
  --color-secundario: #12EAEA;
  --blanco: #fff;
  --text: #333;
  --color-adicional: #7286A0;
  --color-complementario: #A3BFA8 ;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

.conteiner {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

